/**********************
* Fonts
**********************/

body {
    font-size: 16px;
    color: #1d1d1d;
}

@font-face {
    font-family: myriadPro;
    src: url(../fonts/MyriadPro-It-2.otf);
}

@font-face {
    font-family: oxygenBold;
    src: url(../fonts/Oxygen-Bold.ttf);
}

@font-face {
    font-family: oxygenLight;
    src: url(../fonts/Oxygen-Light.ttf);
}

@font-face {
    font-family: oxygenRegular;
    src: url(../fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: pierRegular;
    src: url(../fonts/pier-regular-2.otf);
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

.jumbotron h1 {
    font-family: oxygenRegular;
    font-size: 2em;
    color: #1d1d1b;
}

#somos .home-text-right,
#hortalizas .home-text-right,
#establo .home-text-right,
#granos .home-text-right,
#planta .home-text-right {
    left: 65%;
    top: 50%
}

#homepage h2 {
    font-size: 3em;
    font-family: oxygenRegular;
}

#somos h2,
#hortalizas h2,
#establo h2,
#granos h2,
#planta h2 {
    font-family: oxygenRegular;
    font-size: 2.6em;
}

#somos h3,
#hortalizas h3,
#establo h3,
#granos h3,
#planta h3 {
    font-family: oxygenRegular;
    font-size: 2em;
}

h4 {
    font-size: 1.3em;
}

#homepage p,
#somos p,
#hortalizas p,
#establo p,
#granos p,
#granos ul.content-list,
#planta p,
#planta ul.content-list {
    font-family: oxygenRegular;
    font-size: 1.2em;
}

ul.content-list li {
    list-style: none;
    background: url("../img/icons/list-bullet.png") no-repeat left center;
    padding-left: 40px;
    margin-bottom: 20px;
}


/**********************
* Menu
**********************/

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.hamburger-collapse.hamburger {
    display: none!important;
}

ul.nav.navbar-nav{
    padding-top: 20px;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

.hamburger-collapse.hamburger.in {
    display: block !important;
    /*background-color: #005f6b;*/
    background-color: #343838;
}

.navbar-default,
.navbar-toggle {
    background-color: transparent;
    border: none;
    /*border-color: transparent;*/
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    font-family: pierRegular;
    font-size: 1.5em;
    text-transform: uppercase;
    /*background-color: #05424a;*/
    background-color: #1d1d1d;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    /*background-color: #05424a;*/
    background-color: #1d1d1d;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    /*background-color: #05424a;*/
    background-color: #1d1d1d;
    color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff;
    /*background-color: #05424a;*/
    background-color: #1d1d1d
}

.navbar-nav>li>.dropdown-menu {
    /*background-color: #005f6b;*/
    background-color: #343838;
}

.menu-title,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.dropdown-menu>li>a {
    color: #fff;
}

div#js-bootstrap-offcanvas {
    overflow: hidden;
    text-align: left;
}

/* Transparent menu icon */
.navbar-toggle.offcanvas-toggle {
    margin-top: 30px;
    margin-right: 30px;
    background-color: transparent;
    color: #1d1d1d;
}

#somos .navbar-toggle.offcanvas-toggle,
#hortalizas .navbar-toggle.offcanvas-toggle,
#establo .navbar-toggle.offcanvas-toggle,
#granos .navbar-toggle.offcanvas-toggle,
#planta .navbar-toggle.offcanvas-toggle {
    color: #fff;
}


/**********************
* Contact Modal
**********************/

.modal-header {
    background-color: #05424a;
    color: #fff;
}

button.close,
button.close:focus,
button.close:hover {
    color: #fff;
}


/**********************
* General
**********************/

.home-text-dark {
    color: #0d2b33;
}

.home-text-light {
    color: #05424a;
}

.somos-header,
.hortalizas-header,
.establo-header,
.granos-header,
.planta-header {
    background: linear-gradient( to right, #113e4c 0%, #113e4c 90%, #0d2b33 10%, #0d2b33 100%);
    height: 280px;
    color: #fff;
}

.hortalizas-section-text,
.establo-section-text,
.granos-section-text {
    background-color: #eaeaea;
}

.about,
.veg,
.establo,
.granos,
.planta {
    padding: 50px 0;
}

.section-title {
    height: 70px;
}

.section-subtitle {
    height: 100px;
}

.section-title-right {
    background: linear-gradient( to left, #113e4c 0%, #113e4c 90%, #0d2b33 10%, #0d2b33 100%);
}

.btn-default {
    color: #fff;
    background-color: #05424a;
    border-radius: 10px;
}

.pad-left {
    padding-left: 50px;
}

.pad-top {
    padding-top: 10px;
}

.pad-right-45 {
    padding-right: 45px;
}

.pad-right-80 {
    padding-right: 80px;
}

#hortalizas .pad-marcas {
    font-size: 2.2em;
}

.first-text {
    padding-top: 30px;
}


/**********************
* Homepage
**********************/

.jumbotron {
    background: url("../img/cover.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    margin-bottom: 0;
    padding-top: 10px;
}

.header-logo {
    height: 150px;
    margin-bottom: 15px;
}

.logo-tagline {
    margin-top: 10px;
}

.jumbotron h5 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
}

.mas {
    color: #fff;
    padding-top: 150px;
    font-family: pierRegular;
    font-size: 1em;
}

.mas-arrow {
    /*height: 40px;*/
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

.homepage-section {
    height: 370px;
    max-width: 100%;
}

.homepage-section-text {
    position: relative;
}

.home-text-right,
.home-text-left {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*a.homepage-section-text:hover {*/


/*    color: #fff;*/


/*}*/

.home-row-1 {
    background: url("../img/Fotos-02.jpg") center center no-repeat;
    background-size: cover;
}

.home-row-2 {
    background: url("../img/Fotos-03.jpg") center center no-repeat;
    background-size: cover;
}

.home-row-3 {
    background: url("../img/Fotos-04.jpg") center center no-repeat;
    background-size: cover;
}

.home-row-4 {
    background: url("../img/Fotos-05.jpg") center center no-repeat;
    background-size: cover;
}

.home-row-5 {
    background: url("../img/planta-de-leche-1.jpg") center center no-repeat;
    background-size: cover;
}

.feature-1,
.feature-5 {
    background: linear-gradient( to right, #113e4c 0%, #113e4c 80%, #0d2b33 20%, #0d2b33 100%);
}

.feature-2 {
    background: linear-gradient( to left, #113e4c 0%, #113e4c 80%, #0d2b33 20%, #0d2b33 100%);
}

.feature-3 {
    background: linear-gradient( to right, #005f6b 0%, #005f6b 80%, #05424a 20%, #05424a 100%);
}

.feature-4 {
    background: linear-gradient( to left, #005f6b 0%, #005f6b 80%, #05424a 20%, #05424a 100%);
}


/**********************
* Quienes Somos Page 
**********************/

.somos-header-pic {
    background: url("../img/estacion-de-granos-3.jpg") center center no-repeat;
    background-size: cover;
    height: 280px;
}

.somos-pic-1 {
    background: url("../img/Rancho-11.JPG") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.somos-pic-2 {
    background: url("../img/Rancho-9.JPG") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.somos-pic-3 {
    background: url("../img/Rancho-10.JPG") center center no-repeat;
    background-size: cover;
    height: 350px;
}


/**********************
* Hortalizas Page 
**********************/

.hortalizas-header-pic {
    background: url("../img/Fotos-02.jpg") center center no-repeat;
    background-size: cover;
    height: 280px;
}

.productos {
    text-align: center;
    margin: 100px 0;
}

.registradas {
    margin: 50px 0;
}

.veg-icon {
    height: 150px;
}

.veg-name {
    padding-top: 20px;
}

.hortalizas-pic-1 {
    background: url("../img/Siembra-7.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.hortalizas-pic-2 {
    background: url("../img/Siembra-5.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.hortalizas-pic-3 {
    background: url("../img/Siembra-6.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.nuestras {
    text-align: center;
    padding: 40px 0;
}


/**********************
* Establo Lechero Page 
**********************/

.establo-header-pic {
    background: url("../img/Fotos-03.jpg") center center no-repeat;
    background-size: cover;
    height: 280px;
}

.establo-pic-1 {
    background: url("../img/establo-1.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.establo-pic-2 {
    background: url("../img/establo-3.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.establo-pic-3 {
    background: url("../img/establo-6.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}


/**************************
* Estación de granos Page
**************************/

.granos-header-pic {
    background: url("../img/Fotos-04.jpg") center center no-repeat;
    background-size: cover;
    height: 280px;
}

.granos-productos {
    padding-top: 20px;
}

.granos-icon {
    margin-left: 20px;
    margin-right: 20px !important;
    text-align: center;
}

.granos-icon img {
    height: 60px;
}

.granos-icon .icon-dark {
    color: #0d2b33;
}

#granos .granos-icon p {
    margin-top: 20px;
    font-size: 1.1em;
    color: #113e4c;
}

.map {
    position: relative;
    padding-bottom: 35%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.granos-pic-1 {
    background: url("../img/estacion-de-granos-3.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.granos-pic-2 {
    background: url("../img/estacion-de-granos-2.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.granos-pic-3 {
    background: url("../img/estacion-de-granos-1.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}


/**************************
* Planta de leche Page
**************************/

.planta-header-pic {
    background: url("../img/Fotos-06.jpg") center center no-repeat;
    background-size: cover;
    height: 280px;
}

.planta-pic-1 {
    background: url("../img/planta-de-leche-2.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.planta-pic-2 {
    background: url("../img/planta-de-leche-3.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}

.planta-pic-3 {
    background: url("../img/planta-de-leche-4.jpg") center center no-repeat;
    background-size: cover;
    height: 350px;
}


/**********************
* Footer 
**********************/

footer {
    font-size: 0.7em;
    font-family: oxygenRegular;
    background-color: #343838;
    padding: 40px 20px;
    color: #fff;
    width: 100%;
}

.footer-logo {
    height: 100px;
}

.footer-text {
    padding-top: 50px;
    padding-left: 25px;
    font-size: 1.6em;
}

.footer-icons {
    height: 20px;
    padding-top: 5px;
}


/** General **/

h2,
h3 {
    margin-top: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


/**********************
* Media Queries
**********************/

@media screen and (max-width: 995px) {
    .header-logo {
        height: 100px;
    }
    .jumbotron h1 {
        font-size: 1.8em;
    }
    .footer-text {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 18px;
    }
    .footer-icons {
        margin-bottom: 10px;
    }
    .map {
        padding-bottom: 75%; // This is the aspect ratio
    }
}

@media screen and (max-width: 550px) {
    .header-logo {
        height: 70px;
    }
    .jumbotron h1 {
        font-size: 1.5em;
    }
    .pad-left {
        padding-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    .jumbotron h1 {
        font-size: 1.2em;
    }
    #homepage h2 {
        font-size: 2em;
    }
}
